:root {
  --triangle-color: #E5EBF3;
  --deep-blue     : #00122C;
  --rhyme-chart   : #B4D600;
  --arrow         : url(../images/icon/stat_minus_1_FILL0_wght400_GRAD0_opsz24.svg);
}
$color     : var(--deep-blue);
$blue      : #051B3B;
$colorBeige: #FEF4CF;